form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Estilo dos labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo dos inputs de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo dos inputs de radio e checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo dos selects */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffdd59;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    text-align: center;
}
